openapi: 3.0.3
info:
  title: SuperBikesCentral
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://superbikescentral.online'
paths:
  /api/address/regions:
    get:
      summary: ''
      operationId: getApiAddressRegions
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/address/provinces:
    get:
      summary: ''
      operationId: getApiAddressProvinces
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  '/api/address/provinces/{regionId}':
    get:
      summary: ''
      operationId: getApiAddressProvincesRegionId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: regionId
        description: ''
        example: esse
        required: true
        schema:
          type: string
  '/api/address/cities/{provinceId}':
    get:
      summary: ''
      operationId: getApiAddressCitiesProvinceId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: provinceId
        description: ''
        example: velit
        required: true
        schema:
          type: string
  '/api/address/cities/{regionId}/{provinceId}':
    get:
      summary: ''
      operationId: getApiAddressCitiesRegionIdProvinceId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: regionId
        description: ''
        example: et
        required: true
        schema:
          type: string
      -
        in: path
        name: provinceId
        description: ''
        example: deleniti
        required: true
        schema:
          type: string
  '/api/address/barangays/{cityId}':
    get:
      summary: ''
      operationId: getApiAddressBarangaysCityId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: cityId
        description: ''
        example: sed
        required: true
        schema:
          type: string
  /api/user:
    get:
      summary: ''
      operationId: getApiUser
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/products:
    get:
      summary: 'Display a listing of the Product resource.'
      operationId: displayAListingOfTheProductResource
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 1
                    name: 'HONDA CLICK 125 V3'
                    description: '<p>asda asdad</p>'
                    image: 'https://superbikescentral.online/storage/01J0T5GZRMCSNTWCTAJ0SCG8F6.jpg'
                    price: 87000
                    category_id: Scooter
                    brand_id: Honda
                    model: 'click 125 v3'
      tags:
        - Endpoints
      security: []
  /api/categories:
    get:
      summary: 'Display a listing of the Categories resource.'
      operationId: displayAListingOfTheCategoriesResource
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 1
                    name: Scooter
                    image: 'https://superbikescentral.online/storage/01J0T578P8JSF0PB50A00TJ7NK.png'
      tags:
        - Endpoints
      security: []
  /api/brands:
    get:
      summary: 'Display a listing of the Brand resource.'
      operationId: displayAListingOfTheBrandResource
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 1
                    name: Honda
                    image: 'https://superbikescentral.online/storage/'
      tags:
        - Endpoints
      security: []
  /api/inquiries:
    post:
      summary: 'Store a newly created Inquiry resource in storage.'
      operationId: storeANewlyCreatedInquiryResourceInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: integer
                  description: ''
                  example: 4
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: hsspanhenftoozx
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: mjohnson@example.net
                message:
                  type: string
                  description: ''
                  example: quidem
                contact_number:
                  type: string
                  description: 'Must not be greater than 15 characters.'
                  example: ghajgg
                province_id:
                  type: integer
                  description: ''
                  example: 2
                city_id:
                  type: integer
                  description: ''
                  example: 18
                barangay:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: jnjyzsubdpo
              required:
                - product_id
                - name
                - email
                - message
      security: []
tags:
  -
    name: Endpoints
    description: ''
