openapi: 3.0.3
info:
  title: SuperBikesCenter
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://superbikescentral.online'
paths:
  /api/address/regions:
    get:
      summary: ''
      operationId: getApiAddressRegions
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/address/provinces:
    get:
      summary: ''
      operationId: getApiAddressProvinces
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  '/api/address/provinces/{regionId}':
    get:
      summary: ''
      operationId: getApiAddressProvincesRegionId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: regionId
        description: ''
        example: error
        required: true
        schema:
          type: string
  '/api/address/cities/{provinceId}':
    get:
      summary: ''
      operationId: getApiAddressCitiesProvinceId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: provinceId
        description: ''
        example: at
        required: true
        schema:
          type: string
  '/api/address/cities/{regionId}/{provinceId}':
    get:
      summary: ''
      operationId: getApiAddressCitiesRegionIdProvinceId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: regionId
        description: ''
        example: ut
        required: true
        schema:
          type: string
      -
        in: path
        name: provinceId
        description: ''
        example: est
        required: true
        schema:
          type: string
  '/api/address/barangays/{cityId}':
    get:
      summary: ''
      operationId: getApiAddressBarangaysCityId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: cityId
        description: ''
        example: nostrum
        required: true
        schema:
          type: string
  /api/user:
    get:
      summary: ''
      operationId: getApiUser
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/customer/login:
    post:
      summary: ''
      operationId: postApiCustomerLogin
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: stiedemann.stuart@example.org
                password:
                  type: string
                  description: ''
                  example: recusandae
              required:
                - email
                - password
      security: []
  /api/customer/register:
    post:
      summary: ''
      operationId: postApiCustomerRegister
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: dgumcg
                middle_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: jzwhpfszuqp
                last_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: ylepumsocjmfz
                sufix_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: zacnffldcpetvhqj
                username:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: nnbjytusnwdzrwkpoxttrfmn
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: bauch.theron@example.org
                password:
                  type: string
                  description: 'Must be at least 8 characters.'
                  example: 'nb#B<yR?!e('
                contact_number:
                  type: string
                  description: 'Must not be greater than 20 characters.'
                  example: pxcuzgssjsycrdwmuti
                birth_date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2024-07-06T13:59:43'
                gender:
                  type: string
                  description: ''
                  example: Male
                  enum:
                    - Male
                    - Female
                marital_status:
                  type: string
                  description: ''
                  example: Married
                  enum:
                    - Single
                    - Married
                    - Widowed
                province_id:
                  type: string
                  description: ''
                  example: et
                city_id:
                  type: string
                  description: ''
                  example: nulla
                barangay_id:
                  type: string
                  description: ''
                  example: et
                address1:
                  type: string
                  description: ''
                  example: sit
                address2:
                  type: string
                  description: ''
                  example: nesciunt
              required:
                - first_name
                - last_name
                - username
                - email
                - password
                - contact_number
                - birth_date
                - gender
                - marital_status
                - province_id
                - city_id
                - barangay_id
                - address1
      security: []
  /api/products:
    get:
      summary: 'Display a listing of the Product resource.'
      operationId: displayAListingOfTheProductResource
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      name: 'HONDA CLICK 125i V3'
                      slug: null
                      description: '<p>adsada asda asdada</p>'
                      image: 'https://superbikescentral.online/storage/01J102FRN24AMN08QFEJW8DG59.jpg'
                      price: 87000
                      category_id: Scooter
                      brand_id: Honda
                      model: 'click 125 v3'
                      variations: []
                  links:
                    first: 'https://superbikescentral.online/api/products?page=1'
                    last: 'https://superbikescentral.online/api/products?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: '&laquo; Previous'
                        active: false
                      -
                        url: 'https://superbikescentral.online/api/products?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: 'Next &raquo;'
                        active: false
                    path: 'https://superbikescentral.online/api/products'
                    per_page: 10
                    to: 1
                    total: 1
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: 'HONDA CLICK 125i V3'
                        slug: null
                        description: '<p>adsada asda asdada</p>'
                        image: 'https://superbikescentral.online/storage/01J102FRN24AMN08QFEJW8DG59.jpg'
                        price: 87000
                        category_id: Scooter
                        brand_id: Honda
                        model: 'click 125 v3'
                        variations: []
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: 'HONDA CLICK 125i V3'
                        slug:
                          type: string
                          example: null
                        description:
                          type: string
                          example: '<p>adsada asda asdada</p>'
                        image:
                          type: string
                          example: 'https://superbikescentral.online/storage/01J102FRN24AMN08QFEJW8DG59.jpg'
                        price:
                          type: integer
                          example: 87000
                        category_id:
                          type: string
                          example: Scooter
                        brand_id:
                          type: string
                          example: Honda
                        model:
                          type: string
                          example: 'click 125 v3'
                        variations:
                          type: array
                          example: []
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://superbikescentral.online/api/products?page=1'
                      last:
                        type: string
                        example: 'https://superbikescentral.online/api/products?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: '&laquo; Previous'
                            active: false
                          -
                            url: 'https://superbikescentral.online/api/products?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: 'Next &raquo;'
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; Previous'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: 'https://superbikescentral.online/api/products'
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 1
                      total:
                        type: integer
                        example: 1
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: name
        description: 'Optional parameter. search name.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: quia
      -
        in: path
        name: brand
        description: 'Optional parameter. The Brand of the product'
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 1
      -
        in: path
        name: category
        description: 'Optional parameter. The Category of the product'
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 1
      -
        in: path
        name: min_price
        description: 'Optional parameter. The Minimum Price of the product'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: '15000'
      -
        in: path
        name: max_price
        description: 'Optional parameter. The Maximum  Price of the product'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: '300000'
      -
        in: path
        name: per_page
        description: 'Optional parameter. The Page Rows  of the product'
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 10
  '/api/product/{slug}':
    get:
      summary: ''
      operationId: getApiProductSlug
      description: ''
      parameters: []
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Server Error'
                properties:
                  message:
                    type: string
                    example: 'Server Error'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: slug
        description: 'The slug of the product.'
        example: 1
        required: true
        schema:
          type: integer
  /api/categories:
    get:
      summary: 'Display a listing of the Categories resource.'
      operationId: displayAListingOfTheCategoriesResource
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 1
                    name: Scooter
                    image: 'https://superbikescentral.online/storage/'
      tags:
        - Endpoints
      security: []
  /api/brands:
    get:
      summary: 'Display a listing of the Brand resource.'
      operationId: displayAListingOfTheBrandResource
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 1
                    name: Honda
                    image: 'https://superbikescentral.online/storage/'
      tags:
        - Endpoints
      security: []
  /api/provinces:
    get:
      summary: ''
      operationId: getApiProvinces
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 1
                    code: '012800000'
                    name: 'Ilocos Norte'
                    region_id: '01'
                    province_id: '0128'
                  -
                    id: 2
                    code: '012900000'
                    name: 'Ilocos Sur'
                    region_id: '01'
                    province_id: '0129'
                  -
                    id: 3
                    code: '013300000'
                    name: 'La Union'
                    region_id: '01'
                    province_id: '0133'
                  -
                    id: 4
                    code: '015500000'
                    name: Pangasinan
                    region_id: '01'
                    province_id: '0155'
                  -
                    id: 5
                    code: '020900000'
                    name: Batanes
                    region_id: '02'
                    province_id: '0209'
                  -
                    id: 6
                    code: '021500000'
                    name: Cagayan
                    region_id: '02'
                    province_id: '0215'
                  -
                    id: 7
                    code: '023100000'
                    name: Isabela
                    region_id: '02'
                    province_id: '0231'
                  -
                    id: 8
                    code: '025000000'
                    name: 'Nueva Vizcaya'
                    region_id: '02'
                    province_id: '0250'
                  -
                    id: 9
                    code: '025700000'
                    name: Quirino
                    region_id: '02'
                    province_id: '0257'
                  -
                    id: 10
                    code: '030800000'
                    name: Bataan
                    region_id: '03'
                    province_id: '0308'
                  -
                    id: 11
                    code: '031400000'
                    name: Bulacan
                    region_id: '03'
                    province_id: '0314'
                  -
                    id: 12
                    code: '034900000'
                    name: 'Nueva Ecija'
                    region_id: '03'
                    province_id: '0349'
                  -
                    id: 13
                    code: '035400000'
                    name: Pampanga
                    region_id: '03'
                    province_id: '0354'
                  -
                    id: 14
                    code: '036900000'
                    name: Tarlac
                    region_id: '03'
                    province_id: '0369'
                  -
                    id: 15
                    code: '037100000'
                    name: Zambales
                    region_id: '03'
                    province_id: '0371'
                  -
                    id: 16
                    code: '037700000'
                    name: Aurora
                    region_id: '03'
                    province_id: '0377'
                  -
                    id: 17
                    code: '041000000'
                    name: Batangas
                    region_id: '04'
                    province_id: '0410'
                  -
                    id: 18
                    code: '042100000'
                    name: Cavite
                    region_id: '04'
                    province_id: '0421'
                  -
                    id: 19
                    code: '043400000'
                    name: Laguna
                    region_id: '04'
                    province_id: '0434'
                  -
                    id: 20
                    code: '045600000'
                    name: Quezon
                    region_id: '04'
                    province_id: '0456'
                  -
                    id: 21
                    code: '045800000'
                    name: Rizal
                    region_id: '04'
                    province_id: '0458'
                  -
                    id: 22
                    code: '174000000'
                    name: Marinduque
                    region_id: '17'
                    province_id: '1740'
                  -
                    id: 23
                    code: '175100000'
                    name: 'Occidental Mindoro'
                    region_id: '17'
                    province_id: '1751'
                  -
                    id: 24
                    code: '175200000'
                    name: 'Oriental Mindoro'
                    region_id: '17'
                    province_id: '1752'
                  -
                    id: 25
                    code: '175300000'
                    name: Palawan
                    region_id: '17'
                    province_id: '1753'
                  -
                    id: 26
                    code: '175900000'
                    name: Romblon
                    region_id: '17'
                    province_id: '1759'
                  -
                    id: 27
                    code: '050500000'
                    name: Albay
                    region_id: '05'
                    province_id: '0505'
                  -
                    id: 28
                    code: '051600000'
                    name: 'Camarines Norte'
                    region_id: '05'
                    province_id: '0516'
                  -
                    id: 29
                    code: '051700000'
                    name: 'Camarines Sur'
                    region_id: '05'
                    province_id: '0517'
                  -
                    id: 30
                    code: '052000000'
                    name: Catanduanes
                    region_id: '05'
                    province_id: '0520'
                  -
                    id: 31
                    code: '054100000'
                    name: Masbate
                    region_id: '05'
                    province_id: '0541'
                  -
                    id: 32
                    code: '056200000'
                    name: Sorsogon
                    region_id: '05'
                    province_id: '0562'
                  -
                    id: 33
                    code: '060400000'
                    name: Aklan
                    region_id: '06'
                    province_id: '0604'
                  -
                    id: 34
                    code: '060600000'
                    name: Antique
                    region_id: '06'
                    province_id: '0606'
                  -
                    id: 35
                    code: '061900000'
                    name: Capiz
                    region_id: '06'
                    province_id: '0619'
                  -
                    id: 36
                    code: '063000000'
                    name: Iloilo
                    region_id: '06'
                    province_id: '0630'
                  -
                    id: 37
                    code: '064500000'
                    name: 'Negros Occidental'
                    region_id: '06'
                    province_id: '0645'
                  -
                    id: 38
                    code: '067900000'
                    name: Guimaras
                    region_id: '06'
                    province_id: '0679'
                  -
                    id: 39
                    code: '071200000'
                    name: Bohol
                    region_id: '07'
                    province_id: '0712'
                  -
                    id: 40
                    code: '072200000'
                    name: Cebu
                    region_id: '07'
                    province_id: '0722'
                  -
                    id: 41
                    code: '074600000'
                    name: 'Negros Oriental'
                    region_id: '07'
                    province_id: '0746'
                  -
                    id: 42
                    code: '076100000'
                    name: Siquijor
                    region_id: '07'
                    province_id: '0761'
                  -
                    id: 43
                    code: '082600000'
                    name: 'Eastern Samar'
                    region_id: '08'
                    province_id: '0826'
                  -
                    id: 44
                    code: '083700000'
                    name: Leyte
                    region_id: '08'
                    province_id: '0837'
                  -
                    id: 45
                    code: '084800000'
                    name: 'Northern Samar'
                    region_id: '08'
                    province_id: '0848'
                  -
                    id: 46
                    code: '086000000'
                    name: Samar
                    region_id: '08'
                    province_id: '0860'
                  -
                    id: 47
                    code: '086400000'
                    name: 'Southern Leyte'
                    region_id: '08'
                    province_id: '0864'
                  -
                    id: 48
                    code: '087800000'
                    name: Biliran
                    region_id: '08'
                    province_id: '0878'
                  -
                    id: 49
                    code: '097200000'
                    name: 'Zamboanga del Norte'
                    region_id: '09'
                    province_id: '0972'
                  -
                    id: 50
                    code: '097300000'
                    name: 'Zamboanga del Sur'
                    region_id: '09'
                    province_id: '0973'
                  -
                    id: 51
                    code: '098300000'
                    name: 'Zamboanga Sibugay'
                    region_id: '09'
                    province_id: '0983'
                  -
                    id: 52
                    code: '099700000'
                    name: 'City of Isabela (Not a Province)'
                    region_id: '09'
                    province_id: '0997'
                  -
                    id: 53
                    code: '101300000'
                    name: Bukidnon
                    region_id: '10'
                    province_id: '1013'
                  -
                    id: 54
                    code: '101800000'
                    name: Camiguin
                    region_id: '10'
                    province_id: '1018'
                  -
                    id: 55
                    code: '103500000'
                    name: 'Lanao del Norte'
                    region_id: '10'
                    province_id: '1035'
                  -
                    id: 56
                    code: '104200000'
                    name: 'Misamis Occidental'
                    region_id: '10'
                    province_id: '1042'
                  -
                    id: 57
                    code: '104300000'
                    name: 'Misamis Oriental'
                    region_id: '10'
                    province_id: '1043'
                  -
                    id: 58
                    code: '112300000'
                    name: 'Davao del Norte'
                    region_id: '11'
                    province_id: '1123'
                  -
                    id: 59
                    code: '112400000'
                    name: 'Davao del Sur'
                    region_id: '11'
                    province_id: '1124'
                  -
                    id: 60
                    code: '112500000'
                    name: 'Davao Oriental'
                    region_id: '11'
                    province_id: '1125'
                  -
                    id: 61
                    code: '118200000'
                    name: 'Davao de Oro'
                    region_id: '11'
                    province_id: '1182'
                  -
                    id: 62
                    code: '118600000'
                    name: 'Davao Occidental'
                    region_id: '11'
                    province_id: '1186'
                  -
                    id: 63
                    code: '124700000'
                    name: Cotabato
                    region_id: '12'
                    province_id: '1247'
                  -
                    id: 64
                    code: '126300000'
                    name: 'South Cotabato'
                    region_id: '12'
                    province_id: '1263'
                  -
                    id: 65
                    code: '126500000'
                    name: 'Sultan Kudarat'
                    region_id: '12'
                    province_id: '1265'
                  -
                    id: 66
                    code: '128000000'
                    name: Sarangani
                    region_id: '12'
                    province_id: '1280'
                  -
                    id: 67
                    code: '129800000'
                    name: 'City of Cotabato (Not a Province)'
                    region_id: '12'
                    province_id: '1298'
                  -
                    id: 68
                    code: '133900000'
                    name: 'NCR, City of Manila, First District (Not a Province)'
                    region_id: '13'
                    province_id: '1339'
                  -
                    id: 69
                    code: '137400000'
                    name: 'NCR, Second District (Not a Province)'
                    region_id: '13'
                    province_id: '1374'
                  -
                    id: 70
                    code: '137500000'
                    name: 'NCR, Third District (Not a Province)'
                    region_id: '13'
                    province_id: '1375'
                  -
                    id: 71
                    code: '137600000'
                    name: 'NCR, Fourth District (Not a Province)'
                    region_id: '13'
                    province_id: '1376'
                  -
                    id: 72
                    code: '140100000'
                    name: Abra
                    region_id: '14'
                    province_id: '1401'
                  -
                    id: 73
                    code: '141100000'
                    name: Benguet
                    region_id: '14'
                    province_id: '1411'
                  -
                    id: 74
                    code: '142700000'
                    name: Ifugao
                    region_id: '14'
                    province_id: '1427'
                  -
                    id: 75
                    code: '143200000'
                    name: Kalinga
                    region_id: '14'
                    province_id: '1432'
                  -
                    id: 76
                    code: '144400000'
                    name: 'Mountain Province'
                    region_id: '14'
                    province_id: '1444'
                  -
                    id: 77
                    code: '148100000'
                    name: Apayao
                    region_id: '14'
                    province_id: '1481'
                  -
                    id: 78
                    code: '150700000'
                    name: Basilan
                    region_id: '15'
                    province_id: '1507'
                  -
                    id: 79
                    code: '153600000'
                    name: 'Lanao del Sur'
                    region_id: '15'
                    province_id: '1536'
                  -
                    id: 80
                    code: '153800000'
                    name: Maguindanao
                    region_id: '15'
                    province_id: '1538'
                  -
                    id: 81
                    code: '156600000'
                    name: Sulu
                    region_id: '15'
                    province_id: '1566'
                  -
                    id: 82
                    code: '157000000'
                    name: Tawi-Tawi
                    region_id: '15'
                    province_id: '1570'
                  -
                    id: 83
                    code: '160200000'
                    name: 'Agusan del Norte'
                    region_id: '16'
                    province_id: '1602'
                  -
                    id: 84
                    code: '160300000'
                    name: 'Agusan del Sur'
                    region_id: '16'
                    province_id: '1603'
                  -
                    id: 85
                    code: '166700000'
                    name: 'Surigao del Norte'
                    region_id: '16'
                    province_id: '1667'
                  -
                    id: 86
                    code: '166800000'
                    name: 'Surigao del Sur'
                    region_id: '16'
                    province_id: '1668'
                  -
                    id: 87
                    code: '168500000'
                    name: 'Dinagat Islands'
                    region_id: '16'
                    province_id: '1685'
      tags:
        - Endpoints
      security: []
  '/api/cities/{provinceId}':
    get:
      summary: ''
      operationId: getApiCitiesProvinceId
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example: []
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: provinceId
        description: ''
        example: quod
        required: true
        schema:
          type: string
  /api/inquiries:
    post:
      summary: 'Store a newly created Inquiry resource in storage.'
      operationId: storeANewlyCreatedInquiryResourceInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: integer
                  description: ''
                  example: 20
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: kttpu
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: michael.pollich@example.net
                message:
                  type: string
                  description: ''
                  example: ipsum
                contact_number:
                  type: string
                  description: 'Must not be greater than 15 characters.'
                  example: vecqcgrslyohi
                province_id:
                  type: integer
                  description: ''
                  example: 9
                city_id:
                  type: integer
                  description: ''
                  example: 8
                barangay:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: oeewlwwdtfhbf
              required:
                - product_id
                - name
                - email
                - message
      security: []
tags:
  -
    name: Endpoints
    description: ''
