openapi: 3.0.3
info:
  title: SuperBikesCenter
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://superbikescentral.online'
paths:
  /api/address/regions:
    get:
      summary: ''
      operationId: getApiAddressRegions
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/address/provinces:
    get:
      summary: ''
      operationId: getApiAddressProvinces
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  '/api/address/provinces/{regionId}':
    get:
      summary: ''
      operationId: getApiAddressProvincesRegionId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: regionId
        description: ''
        example: aliquid
        required: true
        schema:
          type: string
  '/api/address/cities/{provinceId}':
    get:
      summary: ''
      operationId: getApiAddressCitiesProvinceId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: provinceId
        description: ''
        example: aut
        required: true
        schema:
          type: string
  '/api/address/cities/{regionId}/{provinceId}':
    get:
      summary: ''
      operationId: getApiAddressCitiesRegionIdProvinceId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: regionId
        description: ''
        example: aliquid
        required: true
        schema:
          type: string
      -
        in: path
        name: provinceId
        description: ''
        example: nostrum
        required: true
        schema:
          type: string
  '/api/address/barangays/{cityId}':
    get:
      summary: ''
      operationId: getApiAddressBarangaysCityId
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: cityId
        description: ''
        example: quia
        required: true
        schema:
          type: string
  /api/user:
    get:
      summary: ''
      operationId: getApiUser
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/customer/login:
    post:
      summary: ''
      operationId: postApiCustomerLogin
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: fleta55@example.com
                password:
                  type: string
                  description: ''
                  example: repellendus
              required:
                - email
                - password
      security: []
  /api/customer/register:
    post:
      summary: ''
      operationId: postApiCustomerRegister
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: tizukcfzwpor
                middle_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: funblzsbfvvfwyhzuaubyk
                last_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: teiboudncyo
                sufix_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: fdqrfxnvbuqynjcfbagru
                username:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: hoifnqkzwptjmgwjfuepgzbym
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: ckling@example.com
                password:
                  type: string
                  description: 'Must be at least 8 characters.'
                  example: psROA9
                contact_number:
                  type: string
                  description: 'Must not be greater than 20 characters.'
                  example: gfuwtcg
                birth_date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2024-07-14T10:35:27'
                gender:
                  type: string
                  description: ''
                  example: Male
                  enum:
                    - Male
                    - Female
                marital_status:
                  type: string
                  description: ''
                  example: Single
                  enum:
                    - Single
                    - Married
                    - Widowed
                province_id:
                  type: string
                  description: ''
                  example: et
                city_id:
                  type: string
                  description: ''
                  example: labore
                barangay_id:
                  type: string
                  description: ''
                  example: velit
                address1:
                  type: string
                  description: ''
                  example: suscipit
                address2:
                  type: string
                  description: ''
                  example: dolorem
              required:
                - first_name
                - last_name
                - username
                - email
                - password
                - contact_number
                - birth_date
                - gender
                - marital_status
                - province_id
                - city_id
                - barangay_id
                - address1
      security: []
  /api/products:
    get:
      summary: 'Display a listing of the Product resource.'
      operationId: displayAListingOfTheProductResource
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: []
                  links:
                    first: 'https://superbikescentral.online/api/products?page=1'
                    last: 'https://superbikescentral.online/api/products?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: null
                    last_page: 1
                    links:
                      -
                        url: null
                        label: '&laquo; Previous'
                        active: false
                      -
                        url: 'https://superbikescentral.online/api/products?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: 'Next &raquo;'
                        active: false
                    path: 'https://superbikescentral.online/api/products'
                    per_page: 10
                    to: null
                    total: 0
                properties:
                  data:
                    type: array
                    example: []
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://superbikescentral.online/api/products?page=1'
                      last:
                        type: string
                        example: 'https://superbikescentral.online/api/products?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: string
                        example: null
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: '&laquo; Previous'
                            active: false
                          -
                            url: 'https://superbikescentral.online/api/products?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: 'Next &raquo;'
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; Previous'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: 'https://superbikescentral.online/api/products'
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: string
                        example: null
                      total:
                        type: integer
                        example: 0
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: name
        description: 'Optional parameter. search name.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: adipisci
      -
        in: path
        name: brand
        description: 'Optional parameter. The Brand of the product'
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 1
      -
        in: path
        name: category
        description: 'Optional parameter. The Category of the product'
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 1
      -
        in: path
        name: min_price
        description: 'Optional parameter. The Minimum Price of the product'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: '15000'
      -
        in: path
        name: max_price
        description: 'Optional parameter. The Maximum  Price of the product'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: '300000'
      -
        in: path
        name: per_page
        description: 'Optional parameter. The Page Rows  of the product'
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 10
  '/api/product/{slug}':
    get:
      summary: ''
      operationId: getApiProductSlug
      description: ''
      parameters: []
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Server Error'
                properties:
                  message:
                    type: string
                    example: 'Server Error'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: slug
        description: 'The slug of the product.'
        example: 10
        required: true
        schema:
          type: integer
  /api/categories:
    get:
      summary: 'Display a listing of the Categories resource.'
      operationId: displayAListingOfTheCategoriesResource
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example: []
      tags:
        - Endpoints
      security: []
  /api/brands:
    get:
      summary: 'Display a listing of the Brand resource.'
      operationId: displayAListingOfTheBrandResource
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example: []
      tags:
        - Endpoints
      security: []
  /api/provinces:
    get:
      summary: ''
      operationId: getApiProvinces
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example: []
      tags:
        - Endpoints
      security: []
  '/api/cities/{provinceId}':
    get:
      summary: ''
      operationId: getApiCitiesProvinceId
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example: []
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: provinceId
        description: ''
        example: est
        required: true
        schema:
          type: string
  '/api/brangays/{cityId}':
    get:
      summary: ''
      operationId: getApiBrangaysCityId
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example: []
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: cityId
        description: ''
        example: similique
        required: true
        schema:
          type: string
  /api/inquiries:
    post:
      summary: 'Store a newly created Inquiry resource in storage.'
      operationId: storeANewlyCreatedInquiryResourceInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: integer
                  description: ''
                  example: 6
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: cox
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: rjohns@example.org
                message:
                  type: string
                  description: ''
                  example: est
                contact_number:
                  type: string
                  description: 'Must not be greater than 15 characters.'
                  example: ormsybyzpuscjnj
                province_id:
                  type: integer
                  description: ''
                  example: 5
                city_id:
                  type: integer
                  description: ''
                  example: 2
                barangay:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: jyzdvdg
              required:
                - product_id
                - name
                - email
                - message
      security: []
tags:
  -
    name: Endpoints
    description: ''
